name: Build and deploy ASP.Net Core app to Azure Web App - memoriza

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      # build apontando para a solução que está na pasta memoriza-backend
      - name: Build with dotnet
        run: dotnet build memoriza-backend/memoriza-backend.sln --configuration Release

      # publish apontando para o csproj correto
      - name: dotnet publish
        run: dotnet publish memoriza-backend/memoriza-backend/memoriza-backend.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A83395844C424E9DAAF2BDD1E1739B5F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_EF54B4123CCE4EF5B0166338A9B34E46 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9FA2DBBE5DC344F88852E20A2AC44DE0 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'memoriza'
          slot-name: 'Production'
          package: .
